.add-quotes {
 padding-top: 10rem;
 text-align: center;
}

.save-quote-heading {
 font-size: 2rem;
 color: whitesmoke;
}

.info-add {
 color: whitesmoke;
 font-size: 1.25rem;
 margin: 2rem;
}

.textarea {
 width: 20rem;
 height: 10rem;
 padding: .5rem;
 margin: 1rem;
}

.author-input {
 width: 12rem;
 margin: .5rem auto;
}



.save-button {
 margin: 1rem;
}

.author-input, .textarea {
 font-family: serif;
 font-size: 1rem;
}

@media screen and (max-width: 400px) {
 .add-quotes {
  padding-top: 8rem;
 }

 .info-add {
  font-size: 1rem;
 }
 .textarea {
  width: 12rem;
 }
}