
.quote-container-display {
 margin: 0 auto;
 padding-top: 5rem;
 text-align: center;
 display: flex;
 font-size: 4rem;
 align-items: center;
 justify-content: center;
}

.quote-display-frame {
  margin-top: 3rem;
}

.quote-display {
width: 70vw;
 margin-bottom: 2rem;
 padding-left: 3rem;
 padding-right: 3rem;
 padding-bottom: 2rem;
 padding-top: 8rem;
 color: whitesmoke;
 min-height: 18rem;
 display: flex;
 align-items: center;
 justify-content: center;
}

.author-display {
 font-size: 3rem;
 color: whitesmoke;
 padding-bottom: 3rem;
 max-height: 10rem;
}

.quote-button {
 margin: .5rem;
}

.options-parent {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 1rem;
}
.options {
 display: inline-flex;
 justify-content: center;
 margin: 0 auto;
 text-align: center;
}
.ferns, .fire, .purple, .purple-mountain, .stars, .ocean, .none {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin: .5rem;
  cursor: pointer;
  
}

.ferns:hover, .fire:hover, .purple:hover, .purple-mountain:hover, .stars:hover, .ocean:hover, .sands:hover, .none:hover {
 border: 2px solid whitesmoke;
 cursor: pointer;
}


.back-parent {
 display: flex;
 align-items: center;
 justify-content: center;
}
.back-to-quotes {
 margin: 0 auto;
 text-align: center;
 margin: 0 auto;
}

.quote-display-frame {
  padding-top: 1rem;
  padding-bottom: 2rem;
 }
 .ferns {
  background: rgb(4, 83, 47);
 }
 
 .fernsDisplay {
  background: center/cover no-repeat url('../../../public/quote-backgrounds/ferns.jpeg');
 
 }
 .fire {
  background: linear-gradient(black, rgb(166, 46, 3))
 }
 
 .fireDisplay {
  background: center/cover no-repeat url('../../../public/quote-backgrounds/fire.jpg');
 
 }
 .purple {
  background: purple;
 }
 .purpleDisplay{
  background: center/cover no-repeat url('../../../public/quote-backgrounds/purple.jpeg');
 
 }
 .purple-mountain {
  background: linear-gradient(purple, whitesmoke)
 }
 .mountainDisplay{
  background: center/cover no-repeat url('../../../public/quote-backgrounds/purplemountain.jpeg');
 
 }
 .stars {
  background: linear-gradient(black, rgb(0, 94, 128));
 }
 .starsDisplay{
  background: center/cover no-repeat url('../../../public/quote-backgrounds/stars.jpg');
 
 }
 .ocean {
  background: linear-gradient(rgb(1, 50, 90), pink);
 }
 
 .oceanDisplay{
   background: center/cover no-repeat url('../../../public/quote-backgrounds/ocean.jpeg');
 
  }
  .none {
   background: rgba(0,0,0,0);;
  }
  
 .noneDisplay {
  background: rgba(0,0,0,0);
 }

@media screen and (max-width: 1350px) {

  .quote-display {
    padding-top: 4rem;
  }
  .quote-container-display {
    font-size: 3rem;
  }
  .author-display{
    font-size: 2rem;
  }
}


@media screen and (max-width: 850px) {
 .quote-container-display {
  font-size: 2.5rem;

 }

 .author-display {
  font-size: 1.5rem;
 }
}

@media screen and (max-width: 650px) {
 
  .quote-container-display {
    font-size: 2rem;
  }
 .quote-display {
  min-height: 12rem;
 }

 .author-display {
   padding-top: 0;
 }

}

@media screen and (max-width: 450px) {
 .quote-container-display {
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
  display: flex;
 }

 .quote-display {
   margin: 0.5rem;
   padding: .5rem;
 }

 .quote-display-frame {
   padding: 0;
   max-width: 80vw;
 }
 

 .author-display {
  font-size: 1rem;
 }

 .options-parent {
   margin: .25rem;
   margin-top: 1rem;
 }

 .ferns, .fire, .purple, .purple-mountain, .stars, .ocean, .none {
  height: 1.25rem;
  width: 1.25rem;
  margin: .5rem;
  cursor: pointer;
  
}
}

