

button:hover {
 background: rgb(4,28,88);
}


.quote-container {
 margin: 0 auto;
 padding-top: 4rem;
 text-align: center;
 font-size: 4rem;
 padding-bottom: 1rem;

}

.quote {
 margin-top: 5rem;
 margin-bottom: 2rem;
 margin-left: auto;
 margin-right: auto;
 padding-left: 2rem;
 padding-right: 2rem;
 text-align: center;
 min-height: 27rem;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 70vw;
 color: whitesmoke;
}

.quote-parent-author-div {
 display: flex;
 align-items: center;
 justify-content: center;
}
.author {
 font-size: 3rem;
 color: whitesmoke;
 height: 8rem;
 margin: 0 auto;
}


.buttons {
 text-align: center;
}

.quote-button {
 margin: .5rem;
}

@media screen and (max-width: 1459px) {
 .quote-container {
  font-size: 3rem;
 }
 .author {
  font-size: 2rem;
 }

 .quote {
  min-height: 25rem;
 }
}

@media screen and (max-width: 1190px) {
 .quote-container {
  padding-top: 3rem;
 }

 .quote {
  font-size: 2.5rem;
 }

 .author {
  height: 6rem;
 }
}

@media screen and (max-width: 850px) {
 .quote {
  min-height: 22rem;
 }
 .author {
  font-size: 1.5rem;
 }
}

@media screen and (max-width: 650px) {
 .quote{
  font-size: 2rem;
 }

 .author {
  font-size: 1.25rem;
  height: 3rem;
 }

 .quote-button {
  font-size: 1rem;
 }

}

@media screen and (max-width: 450px) {

  .author {
   padding-bottom: 1rem;
  }
 .quote-button {
  font-size: 1rem;
 }

}

@media screen and (max-width: 350px) {
 
 .quote {
  font-size: 1.5rem;
  min-height: 12rem;
 }
 .author {
  font-size: 1.15rem;
 }
}