


button:hover {
 background: rgb(88,4,88);
}

.quote-container {
 margin: 0 auto;
 padding-top: 2rem;
 text-align: center;
 min-height: 49rem;
 display: flex;
 font-size: 4rem;
 padding-bottom: 1rem;
 align-items: center;
 justify-content: center;
}

.quote {
 margin-top: 2rem;
 margin-bottom: 2rem;
 padding-left: 2rem;
 padding-right: 2rem;
 color: rgb(247, 220, 248);
}

.author {
 font-size: 3rem;
 color: rgb(247, 220, 248);
}


.buttons {
 text-align: center;
}

.quote-button {
 margin: .5rem;
}

@media screen and (max-width: 850px) {
 .quote-container {
  padding-top: 3rem;
  font-size: 4rem;
  min-height: 49rem;
 }
 .author {
  font-size: 1.5rem;
 }
}

@media screen and (max-width: 650px) {
 .quote-container {
  font-size: 1.75rem;
  min-height: 40rem;
 }

 .author {
  font-size: 1.25rem;
 }

 .quote-button {
  font-size: 1rem;
 }

}

@media screen and (max-width: 500px) {
 .quote-container {
  font-size: 1.5rem;
  min-height: 25rem;
 }

 .quote-button {
  font-size: 1rem;
 }

}

@media screen and (max-width: 350px) {
 .quote-container {
  font-size: 1.25rem;
  min-height: 24rem;
 }
 .author {
  font-size: 1.15rem;
 }
}