.saved-quotes-container {
 color: whitesmoke;
 padding-top: 8rem;
 align-items: center;
 justify-content: center;
 text-align: center;
 max-width: 50rem;
 min-height: 47rem;
 margin-left: auto;
 margin-right: auto;
}

.saved-quotes {
 font-size: 2rem;
 text-align: center;
 margin-top: 2rem;
 margin-bottom: 1rem;
 border-bottom: 2px solid whitesmoke;
 width: 20rem;
 margin-left: auto;
 margin-right: auto;
}

.saved-action-buttons {
 margin: 1rem;
 margin-top: 2rem;
 font-size: 1.25rem;
 cursor: pointer;
}

.saved-quote {
 font-size: 1.25rem;
 margin-bottom: .5rem;
}

.saved-author {
 width: 10rem;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 1rem;
 margin-bottom: 2rem;
 border-bottom: 2px solid whitesmoke;
}

.page-buttons {
 font-size: 2rem;
 text-align: center;
 margin-bottom: 1rem;
}

.page-button {
 margin-left: 4rem;
 margin-right: 4rem;
 cursor: pointer;
}

@media screen and (max-width: 400px) {

 .saved-quotes-container{
  padding-top: 5.25rem;
  min-height: 20rem;
 }

 .saved-quotes {
  font-size: 1.25rem;
  width: 12rem;
 }
 .page-button {
  margin-left: 1rem;
  margin-right: 1rem;
 }

 .saved-quote {
  font-size: 1rem;
 }

 .saved-author {
  padding-bottom: .5rem;
  margin-bottom: .5rem;
 }
}