.app-header {
 padding-top: 15rem;
 text-align: center;
 font-size: 1.5rem;
 color: whitesmoke;
}

.warning {
 color: whitesmoke;
 text-align: center;
 margin: 2rem;
 min-height: 20rem;
}

.warning-email, .warning-password {
 margin-top: 1rem;
 margin-bottom: 1rem;
}

@media screen and (max-width: 650px) {
 
 .app-header {
  padding-top: 8rem;
 }
 .warning {
  min-height: 6rem;
 }

}

@media screen and (max-width: 350px) {
 .app-header {
  font-size: 1rem;
  padding-top: 7rem;
 }
}