.reset-request {
 
 padding-top: 6rem;
 color: whitesmoke;
 text-align: center;
 align-items: center;
 justify-content: center;
 overflow-y: hidden;
}

.reset-request div {
 margin: 1rem;
}

.request-button {
 margin-top: 1rem;
 margin-bottom: 1rem;
}
