nav {
 border-bottom: 2px solid rgb(247, 220, 248);
 position: absolute;
 width: 100vw;
 height: 3rem;
 padding-top: 2rem;
 margin-bottom: .5rem;
 display: inline-flex;
 justify-content: space-evenly;
}

a, .link, #link5 {
 color: rgb(247, 220, 248);
}


.logout {
 cursor: pointer;
 margin-top: .15rem;
}

@media screen and (max-width: 650px) {
 nav {
  flex-wrap: wrap;
 }
}

@media screen and (max-width: 300px) {
 nav {
  padding-bottom: .5rem;
 }
}