.login {

 margin: 0 auto;
 margin-left: 0;
 padding: center;
 align-self: center;
 text-align: center;
 height: 3.75rem;
 font-size: 1.25rem;
 border-bottom: 2px solid whitesmoke;
 background: rgba(27, 15, 32, 0.5);
}

.login-form {
 text-align: left;
 margin: 0rem auto;
 padding-top: 1rem;
 display: grid;
 grid-template-columns: repeat(9, 1fr);
 grid-template-rows: repeat(1, 1fr);
 column-gap: 5px;
}

input,
label,
button {
 margin-left: .75rem;
}

input {
 padding-left: .2rem;
 padding-right: .2rem;
}

.login-input {
 width: 10rem;
}

label {
 color:whitesmoke;
}

.link {
 text-decoration: underline;
 margin-left: .75rem;
 margin-right: .75rem;
 cursor: pointer;
 text-align: center;
}

input {
 height: 1.5rem;
 border-radius: .25rem;
}

label {
 padding-top: .1rem;
}

input:focus {
 outline: none;
 border: 2px solid whitesmoke;
}

button {
 color: whitesmoke;
 background: rgb(57, 61, 67);
 border-radius: .25rem;
 outline: none;
 border: 2px solid whitesmoke;
 padding-left: .5rem;
 padding-right: .5rem;
 font-size: 1.15rem;
 cursor: pointer;
}

button:hover {
 background: rgb(4,28,88);
}

/* grid display */
.label-email {
 grid-column: 1;
 grid-row: 1;
 margin-bottom: .5rem;
 text-align: right;
}

.input-email {
 grid-column: 2;
 grid-row: 1;
 margin-bottom: .5rem;
}

.label-password {
 grid-column: 3;
 grid-row: 1;
 margin-bottom: .5rem;
 text-align: right;
}

.input-password {
 grid-column: 4;
 grid-row: 1;
 margin-bottom: .5rem;
}

.button-set {
 grid-column: 5/6;
 grid-row: 1;
 margin-bottom: .5rem;

}

.link1-set {
 grid-column: 6/8;
 grid-row: 1;
}

.link2-set {
 grid-column: 8/10;
 grid-row: 1;
}


@media screen and (max-width: 1092px) {
 .login {
  height: 5.25rem;
 }

 .login-form {
  grid-template-rows: repeat(1fr, 2);
 }

 /* grid display */
.label-email {
 grid-column: 1;
 grid-row: 1;
}

.input-email {
 grid-column: 2/4;
 grid-row: 1;
}

.label-password {
 grid-column: 4;
 grid-row: 1;
}

.input-password {
 grid-column: 5/7;
 grid-row: 1;
}

.button-set {
 grid-column:8;
 grid-row: 1;
}

.link1-set {
 grid-column: 1/6;
 grid-row: 2;
}

.link2-set {
 grid-column: 5/10;
 grid-row: 2
}
}

@media screen and (max-width: 740px) {
 .login {
  height: 9.5rem;
 }

 .login-form {
  grid-template-rows: repeat(1fr, 4);
 }

 /* grid display */
.label-email {
 grid-column: 3;
 grid-row: 1;
 text-align: left;
}

.input-email {
 grid-column: 7;
 grid-row: 1;
}

.label-password {
 grid-column: 3;
 grid-row: 2;
 text-align: left;
}

.input-password {
 grid-column: 7;
 grid-row: 2;
}

.button-set {
 grid-column: 3/8;
 grid-row: 3;
}

.link1-set {
 grid-column: 3/6;
 grid-row: 4;
 font-size: 1rem;
 padding-left: .5rem;
}

.link2-set {
 grid-column: 6/8;
 grid-row: 4;
 font-size:1rem;
 /* padding-right: 1rem; */
}
}

@media screen and (max-width: 500px) {
 .login {
  height: 9.5rem;
 }

 .login-form {
  grid-template-rows: repeat(1fr, 4);
 }

 /* grid display */
.label-email {
 grid-column: 3;
 grid-row: 1;
}

.input-email {
 grid-column: 7;
 grid-row: 1;
}

.label-password {
 grid-column: 3;
 grid-row: 2;
}

.input-password {
 grid-column: 7;
 grid-row: 2;
}

.button-set {
 grid-column: 3/8;
 grid-row: 3;
}

.link1-set {
 grid-column: 1/7;
 grid-row: 4;
 font-size: .8rem;
 padding-left: 2rem;

}

.link2-set {
 grid-column: 7/10;
 grid-row: 4;
 font-size:.8rem;
 /* padding-right: 2rem; */
}
}

@media screen and (max-width: 300px) {

 .login {
  height: 11rem;
 }

 .login-form {
  grid-template-rows: repeat(1fr, 5);
 }

 /* grid display */
.label-email {
 grid-column: 1/6;
 grid-row: 1;
 font-size: 1rem;
}

.input-email {
 grid-column: 7/10;
 grid-row: 1;
 margin-right: .75rem;
}

.label-password {
 grid-column: 1/7;
 grid-row: 2;
 font-size: 1rem;
}

.input-password {
 grid-column: 7/10;
 grid-row: 2;
 margin-right: .75rem;
}

.button-set {
 grid-column:4/9;
 grid-row: 3;
}

.link1-set {
 grid-column: 1/10;
 grid-row: 4;
 font-size: 1rem;
 padding-left: 0rem;
}

.link2-set {
 grid-column: 1/10;
 grid-row: 5;
 font-size:1rem;
 padding-right: 0rem;
}
}

.offscreen {
 position: absolute;
 left: -9000px;
}

.error-message {
 background: rgb(249, 152, 215);
 color: rgb(40,40,40);
 font-weight: bold;
 padding: .5rem;
 margin-bottom: .5rem;
}

input {
 color: rgb(40,40,40);
}

