* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(190deg, rgb(26, 26, 30), rgb(44, 34, 51));
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  overflow-x: hidden;
}


/* In other CSS pages as well */
button {
  color: white;
  background: rgb(64, 38, 64);
  border-radius: .25rem;
  outline: none;
  border: 2px solid rgb(247, 220, 248);
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: 1.15rem;
  cursor: pointer;
 }

